<!--tableau des groupes-->
<div class="mat-elevation-z8 top-space-little">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef>Auteur</th>
      <td mat-cell *matCellDef="let element"> {{element.author.username}} </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Titre</th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef>Créé le</th>
      <td mat-cell *matCellDef="let element"> {{element.created}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="modified">
      <th mat-header-cell *matHeaderCellDef>Modifié le</th>
      <td mat-cell *matCellDef="let element">{{element.modified}}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>statut</th>
      <td mat-cell *matCellDef="let element">{{element.status}}</td>
    </ng-container>

    <ng-container matColumnDef="closed">
      <th mat-header-cell *matHeaderCellDef>Fermé</th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox [checked]="element.closed" disabled></mat-checkbox>
      </td>
    </ng-container>

        <!-- button edit -->
    <ng-container matColumnDef="edition">
      <th mat-header-cell *matHeaderCellDef>Edit</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)= "edit(element)"><mat-icon>edit</mat-icon></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
