<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef>Utilisateur</th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="group">
      <th mat-header-cell *matHeaderCellDef>Groupe</th>
      <td mat-cell *matCellDef="let element"> {{element.group}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="administration">
      <th mat-header-cell *matHeaderCellDef>Administration</th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox [checked]="hasPermission(element, 'admin')" (change)="handlePermission($event, 'admin', element.username)"></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="processing">
      <th mat-header-cell *matHeaderCellDef>Traitement</th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox [checked]="hasPermission(element, 'employee')" (change)="handlePermission($event, 'employee', element.username)"></mat-checkbox>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>