/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}
.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-end {
    align-items: flex-end;
}
.top-space-little {
    margin-top: 10px;
}
.bottom-space-little {
    margin-bottom: 10px;
}
.top-space-heading {
    margin-top: 50px;
}
.full-width {
    width: 100%;
}